.navigation ul, .navigation{
	padding:0;
}

.navigation li {
	color: white;
	list-style-type: none;
}

.navigation li {
	background-color: #000;
}

.navigation li a {
	display: block;
	width: 100%;
	color:white;
	text-decoration:none;
	padding: 5px;
}

.navigation li.selected {
	background-color: #eb8e09;
}

.navigation li.selected a {
	background-color: #eb8e09;
	color: white;
}

.navigation li.selected > ul {
	background-color: #F5F5F5;
	color: black;
}

.navigation li.selected > ul > li {
	position: relative;
	border-bottom: 0px;
}

.navigation li.selected > ul > li:before {
	content: "\25BA \0020";
	position: absolute;
	top: 5px;
	left: -10px;
	color: black
}

.navigation li.selected > ul > li a {
	background-color:#F5F5F5;
	color: black;
}

.navigation li.selected > ul > li.selected {
	color: #eb8e09;
}

.navigation li.selected > ul > li.selected :before {
	content: "\25BA \0020";
	position: absolute;
	top: 5px;
	left: -10px;
	color: #eb8e09;
}

.navigation li.selected > ul > li.selected a:visited{
	color: #eb8e09;
}

ul.navigation > li ul {
	display:none;
}

ul.navigation li.active > a {
	color:green;
}

.navigation li > ul li a
{
	position:relative;	
}

.navigation li.active > ul {
	padding-left:10px;
}

